
#miniorange_oauth_client_client_id, #miniorange_oauth_client_client_secret, #miniorange_oauth_client_display_name, #miniorange_oauth_client_app_name,
#miniorange_oauth_client_user_info_ep, #miniorange_oauth_client_access_token_ep, #miniorange_oauth_client_scope, #miniorange_oauth_client_auth_ep
, #callbackurl, #text_field{
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
.mo_oauth_table_layout {
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding:0px 10px 10px 10px;
	margin-bottom: 10px;
}

.mo_oauth_server_table_layout {
	background-color:#FFFFFF;
	border:none;
	padding:0px 10px 10px 10px;
	margin-bottom: 10px;
	border-radius: 4px !important;
}

.mo_oauth_container_full {
    padding: 25px;
    border-radius: 4px !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-left: auto;
    margin-right: auto;
}

/* Add Client*/
#miniorange_oauth_server_add_more_cb_urls{
	float: right;
	margin-top: -5.3%;
    margin-right: 14%;
}

#grant_type_checkboxes{
   margin: 6px 9px;
}
#grant_type_checkboxes label:after{
	content: ":";
	display: none;
}

table.tableborder td {
    text-align: center;
}

table.tableborder th {
    text-align: center;
}

#oauth_server_add_new_client{
	float: right;
    margin-top: -7%;
}

#oauth_server_api_doc{
	float: right;
    margin-top: -5.75%;
    margin-right: 13%;
}

#oauth_server_api_doc_add_client{
	float: right;
    margin-top: -7%;
    margin-right: 13.5%;
}

.mo_postman_collection_tooltip{
	float: right;
	margin-top: -4.5%;
	margin-right: 1.75%;
}

/*client id and secret copy button tooltip*/
.callback_tooltip {
    position: relative;
    display: inline-block;
  }

.callback_tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}


  .callback_tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .callback_tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.mo_test_postman_collection {
    float: right;
    margin-right: -19.75%;
    margin-top: -2.8%;
}



/************=============Css for outer and inner div=============************/

.mo_oauth_container {
	width: 97%;
	padding: 18px;
	border-radius: 4px !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.mo_oauth_container_login{
	width: 59%;
	padding: 25px;
	border-radius: 4px !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.mo_oauth_table_layout_1
{
	background-color:#FFFFFF !important;
	width: 97% !important;
	padding:2% !important;
	overflow: hidden;
}

.mo_oauth_table_layout_login_1{
	background-color:#e0e0d8 !important;
	width: 60% !important;
	padding:2% !important;
	overflow: hidden;
}
.mo_oauth_server_welcome_message{
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 15px;
	color: rgba(0, 128, 0, 0.80);
	background-color: rgba(0, 255, 0, 0.15);
	padding: 5px;
}

.mo_oauth_server_table_layout_support_1{
	border-radius: 1px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	width: 28%;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	margin-bottom: 10px;
	margin-left: 66px;
}

table.mo_upgrade_plans_features td{
	border: groove;
	text-align: center;
	height: 2em;
	font-weight: 600;
	width: 25%;
}

table.mo_upgrade_plans_features td+td, table.mo_upgrade_plans_features td+td+td, table.mo_upgrade_plans_features td+td+td+td {
	border: groove;
	text-align: center;
	width: 13%;
}

table.mo_upgrade_plans_features tbody>:nth-child(1){
	color: white;
	background-color: #34495e !important;
}

table.mo_upgrade_plans_features tbody>:nth-child(1):hover{
	color: white !important;
	background-color: #34495e !important;
}

table.mo_upgrade_plans_features tbody>:nth-child(odd){
	background-color: lightgray;
}

.mo_upgrade_plans_features, .mo_how_to_upgrade {
	margin: 0 1em !important;
	width: auto;
}

.mo_oauth_pricing-rate {
	font-size: 250%;
	font-weight: 600;
	position: relative;
	text-align: center;
}

.mo_instance_note{
	margin: 0 1em;
}

.mo_organization_trust_button{
	margin-left: 3% !important;
}

table.mo_how_to_upgrade td{
	border: groove;
	width: 50% !important;
}

table.mo_how_to_upgrade th{
	text-align: center;
	font-size: larger;
}

.mo_top_bar_button{
	margin-right: 0 !important;
  margin-left: 1em !important;
}

.mo_oauth_server_highlight_background_note_2{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: fit-content;
}

.mo-client-creds {
	margin-right: 2%;
}

.mo_oauth_highlight_background_callback{
	background-color: #e7e7e7;
	border-radius: 0.3em;
	padding: 1%;
	width: fit-content;
}

table.mo_oauth_server_endpoints td{
	height: 2em;
	width: 20% !important;
}

table.mo_oauth_server_endpoints td+td{
	height: 2em;
	width: 35% !important;
}

table.mo_oauth_server_endpoints td+td+td{
	height: 2em;
	width: 10% !important;
}

.selected-text, .selected-text>*{
	background: #2196f3;
	color: #ffffff;
}

table.mo_oauth_server_configurations td{
	height: 2em;
	width: 20% !important;
}

table.mo_oauth_server_configurations td+td{
	height: 2em;
	width: 50% !important;
}

table.mo_oauth_server_configurations td+td+td{
	height: 2em;
	width: 5% !important;
}

.mo_oauth_pro_icon1 {
	height: 4%;
	width: 3%;
}

.mo_pro_tooltip {
    visibility: hidden;
    background-color: #e0e0e0;
    border: groove;
    color: black;
    font-size: 84%;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    z-index: 1;
	margin: 5px;
}

.mo_oauth_pro_icon1:hover+.mo_pro_tooltip {
	visibility: visible;
	opacity: 1;
}

.mo_oauth_2fa_icon{
	width: 55%;
}

.mo_oauth_headless_icon{
	width: 80%;
}

.mo_2fa_advertise{
	text-align: center;
}

.mo_oauth_2fa_describe{
	text-align: justify;
	width: 90%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.mo-bottom-corner{
  position: fixed;
  width: 5em;
  height: 5em;
  bottom: 2em;
  right: 2em;
  border-radius: 50px;
  border: black solid;
  text-align: center;
  box-shadow: 5px 5px 5px #999;
  z-index: 100;
}

/* Login tab */
.orange {
    color: orange;
}

.login_form{
    padding-left: 30px;
}
.mo_oauth_text_center {
    text-align: center;
}
.mo_oauth_highlight_background_note {
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 0.55em;
    width: 98%;
}
.checkbox-container {
	display: flex;
	flex-wrap: wrap;
  }

.checkbox-inline {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

/* upgrade plans start */

.payment_method_inner_divs {
    border-radius: 0px 50px 0px 50px;
    margin: auto;
    text-align: center;
    padding: 2%;
}

.payment_method_main_divs {
    padding: 2%;
    margin: auto!important;
}

.mo-container {
    width: 96%!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
	flex-direction: row;
}

.col-md-3 {
	flex: 0 0 auto;
	width: 25%
}

.payment_method_inner_divs {
    border-radius: 0px 50px 0px 50px;
    margin: auto;
    text-align: center;
    padding: 2%;
}

.payment_method_main_divs {
    padding: 2%;
    margin: auto!important;
}

.payment_method_inner_divs:hover {
    transform: scale(1.2);
}

a#mo_faqs {
    float: left;
}
